@charset "ISO-8859-1";

body {
	color: #121212;
	background-color: white;
	font-family: "Open Sans", sans-serif;
}

input {
  padding: 12px 20px;
  border: 1px solid #333333;
  border-radius: 8px;
  background-color: white;
}

input:focus {
	border: 1px solid #48ac98;
}

input[type="submit"] {
    background-color: #48ac98;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
input[type="submit"]:hover {
	background-color: #419987;
}

.form-wrap {
  background-color: white;
  width: 35%;
  min-width: 200px;
  margin: 30px auto;
  text-align: center;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}

.button {
   background-color: #48ac98;
   border: none;
   border-radius: 2px;
   color: white;
   padding: 10px 18px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 14px;
   margin: 4px 2px;
   cursor: pointer;
}
